<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>@Content.Data.Title</title>
	@{ Html.RenderPartial("LayoutPartials/Head"); }
	@{ Html.Resources().JQuery(); }
	@{ Html.Resources().JavaScript("~/Scripts/site.js"); }
	@{
		Content.PrependDefinition(re =>
		{
			re.Tab("Content", "Content");
			re.PublishedRange().Container("Metadata");
		});
	 }
	@if (IsSectionDefined("head")) { @RenderSection("head") }
</head>
<body>
	@{ Html.RenderControlPanel(); }
	<div id="wrapper" class="clearfix">
	@if (IsSectionDefined("page"))
 { <div>@RenderSection("page")</div> }
 else
 {
		<div id="top">@{ Html.RenderPartial("LayoutPartials/Top"); }</div>
		<div id="header" class="clearfix">@{ Html.RenderPartial("LayoutPartials/Header"); }</div>
		<div id="page">
			@if (IsSectionDefined("main"))
   { <div>@RenderSection("main")</div> }
   else
   {
			<div id="main" class="clearfix">
				@{ Html.RenderPartial("LayoutPartials/PreContent"); }
				<div id="aside" role="complementary">@if (IsSectionDefined("Aside"))
										 { <div>@RenderSection("Aside")</div> }
										 else { Html.DroppableZone("Aside").Render(); }</div>
				<div id="content" role="main">@RenderBody()</div>
				@{ Html.RenderPartial("LayoutPartials/PostContent"); }
			</div>
   }
			<div id="footer" class="clearfix">@{ Html.RenderPartial("LayoutPartials/Footer"); }</div>
		</div>
 }
	</div>
	@{ Html.Zone("Scripts").Render(); }
</body>
</html>
