<!DOCTYPE html>
<html>
<head>
	<title>@Content.Data.Title</title>
	<link href="@Url.ThemedContent("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	@{ Html.Resources().JQuery(); }
	@{
		Content.PrependDefinition(re => 
			{
				re.Tab("Content", "Content", e => e
					.Title()
					.Name());
				re.Tab("Advanced", "Advanced", e =>
					e.PublishedRange());
			});
	 }
</head>
<body>
	@{ Html.RenderControlPanel(); }
	<div class="page">
		<div id="header">
			<div id="title">
				<h1>My MVC Application</h1>
			</div>
			<div id="topnav">
				@Html.Partial("_SiteMapPartial")
				@Html.Partial("_SearchPartial")
				@Html.Partial("_LogOnPartial")
			</div>
			<div id="menucontainer">
				@Html.Partial("_NavigationPartial")
			</div>
		</div>
		<div id="main">
			@if (IsSectionDefined("Main")) 
			{ 
				RenderSection("Main"); 
			}
			else
			{
			@Html.Partial("_SubNavigationPartial")
			<div id="sidebar">@if (IsSectionDefined("Sidebar")) { RenderSection("Sidebar"); } else { Html.DroppableZone("Sidebar").Render(); }</div>
			<div id="content">@RenderBody()</div>
			}
			<div id="footer"></div>
		</div>
	</div>
</body>
</html>
