<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	@{ Html.Resources().JQuery(); }
	@{
		Content.RegisterEditables(re => re
			.Tab("Content", "Content", e => e
				.Title()
				.Name())
			.Tab("Advanced", "Advanced", e => e.PublishedRange())
			);
	 }
</head>
<body>
	@{ Html.RenderControlPanel(); }
	<div class="page">
		<div id="header">
			<div id="title">
				<h1>
					My MVC Application</h1>
			</div>
			<div id="logindisplay">
				@Html.Partial("_LogOnPartial")
			</div>
			<div id="menucontainer">
				@Html.Partial("_NavigationPartial")
			</div>
		</div>
		<div id="main">
			@if (IsSectionDefined("Main")) { RenderSection("Main"); }
			else
			{
			<div id="sidebar">@if (IsSectionDefined("Sidebar")) { RenderSection("Sidebar"); } else { Html.DroppableZone("Sidebar").Render(); }</div>
			<div id="content">@RenderBody()</div>
			}
			<div id="footer"></div>
		</div>
	</div>
</body>
</html>
