@model Dinamico.Models.ListingPage

@{
	Content.Define(re => 
	{
		re.Title = "Listing";
	});
}

@Html.Partial("Partials/_Content")

@Html.Loop(Content.Traverse.DescendantPages(Content.CurrentPage, N2.Filter.Access()),
	template:@<div class="item"><a href="@item.Data.Url">@Content.Render.Image("Image", "thumb")<strong>@item.Data.Title</strong>@item.Data["Introduction"]</a></div>,
	containerTemplate:@<div class="list">@item.RenderContents()</div>,
	emptyTemplate:@<p>No items</p>)