@using (Content.BeginScope(Request["returnUrl"], Content.Current.Page == null))
{
	var start = Content.Traverse.StartPage;
	var current = Content.Current.Page;
<ul id="menu" class="topmenu menu clearfix level1">
	<li class="home">@using (Content.BeginScope(Content.Traverse.StartPage))
{
	<a href="@Content.Current.Item.Url" title="@Content.Current.Item.Title"><img src="@Url.ThemedContent("~/Content/home.png")" alt="@Content.Current.Page.Title" /></a>
}</li>
	@Content.TreeFrom(start, takeLevels: 3, rootless: true)
</ul>
}
<script type='text/javascript'>//<![CDATA[
	$("#menu").menudown({ submenuclass: "submenu menu clearfix level2" });
//]]></script>

