<title>@(Content.Has.SeoTitle ? Content.Data.SeoTitle : Content.Data.Title)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="@Url.ThemedContent("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@Content.Register.Meta("Author").Container("Metadata").Display()
@Content.Register.Meta("Keywords").Container("Metadata").Display()
@Content.Register.Meta("Description").Container("Metadata").Display()
<link rel="shortcut icon" href="@Url.ThemedContent("~/favicon.ico")" />
<link rel="apple-touch-icon" href="@Url.ThemedContent("~/apple-touch-icon.png")" />
<link rel="canonical" href="@(Content.Data.Url ?? Request.RawUrl)" />
