@model N2.Web.Mvc.Html.RegistrationExpression

@{
    ViewBag.Title = "Test";
}

@{
	Content.Define(re => re.Ignore = true);
}

<ul>
	<li>@Model.ItemType</li>
@foreach (var c in Model.Containables)
{
	<li>
		@c.Name (@c.SortOrder)
		<ul>
		@foreach (var e in Model.Editables.Where(e => e.ContainerName == c.Name))
		{
			<li>@e.Title (@e.SortOrder)</li>
		}
		</ul>
	</li>
}
</ul>