@model Dinamico.Models.ContentPage

@{
	Content.Define(re => 
	{
		re.Title = "News page";
		re.DefaultValue("Visible", false);
	});
}

@Html.Partial("LayoutPartials/_BlogContent")

<div class="pager">
@{ var previous = @Content.Traverse.PreviousSibling(); }
@if (previous != null)
{
<span class="previous">@Content.LinkTo(previous).Text("&laquo; " + previous.Title)</span>
}
<span class="up">@Content.LinkTo(Content.CurrentItem.Parent)</span>
@{ var next = @Content.Traverse.NextSibling(); }
@if (next != null)
{
	<span class="next">@Content.LinkTo(next).Text(next.Title + " &raquo;")</span>
}
</div>