@model Dinamico.Models.ContentPart
		   
@{ 
 
    Content.Define(ie => {
        ie.Title = "Image and Text";
        ie.IconUrl = "{IconsUrl}/text_padding_left.png";
        ie.Text("Title", "Heading text").SortOrder(100);
        ie.Image("Image").SortOrder(200);
        ie.FreeText("Description").SortOrder(300);
        ie.CheckBox("ImageFirst", "Image first").DefaultValue(true).SortOrder(400);
        ie.CheckBox("HiddenPhone", "Hide image in mobile view (requires responsive CSS)").DefaultValue(false).SortOrder(500);
	});

    var imgCssClass = "img-polaroid";
    if (Content.Has.HiddenPhone && Content.Data.HiddenPhone == true) { imgCssClass += " hidden-phone"; }

}

@if (Content.Has.Text && !String.IsNullOrWhiteSpace(Content.Data.Text))
{
	<h3>@Content.Data.Text</h3>
}

@if (Content.Has.ImageFirst && Content.Data.ImageFirst)
{
	<div class="imageAndText container-fluid">
		<div class="row-fluid">
			<div class="span3"><img class="@imgCssClass" alt="@Content.Data.Title" src="@Content.Data.Image" /></div>
			<div class="span9">@Content.Display.Description</div>
		</div>
	</div>
}
else
{
	<div class="imageAndText container-fluid">
		<div class="row-fluid">
			<div class="span9">@Content.Display.Description</div>
			<div class="span3"><img class="@imgCssClass" alt="@Content.Data.Title" src="@Content.Data.Image" /></div>
		</div>
	</div>
}