@model Dinamico.Models.ContentPart
		   
@{ 
    Content.Define(ie => {
        ie.Title = "Image and Text";
        ie.IconUrl = "{IconsUrl}/text_padding_left.png";
        ie.Text("Heading", "Heading text");
        ie.CheckBox("ImageFirst", "Image first").DefaultValue(true);
	});
}

@if (Content.Has.Text && !String.IsNullOrWhiteSpace(Content.Data.Text))
{
	<h3>@Content.Data.Text</h3>
}

@if (Content.Has.ImageFirst && Content.Data.ImageFirst)
{
	<div class="imageAndText container-fluid">
		<div class="row-fluid">
			<div class="span3">
				@Content.Register.Image("Image").Configure(c => c.CssClass = "img-polaroid")
			</div>
			<div class="span9">
				@Content.Register.FreeText("Description", "Product Description")
			</div>
		</div>
	</div>
}
else
{
	<div class="imageAndText container-fluid">
		<div class="row-fluid">
			<div class="span9">
				@Content.Register.FreeText("Description", "Product Description")
			</div>
			<div class="span3">
				@Content.Register.Image("Image").Configure(c => c.CssClass = "img-polaroid")
			</div>
		</div>
	</div>
}