@using (Content.BeginScope(Request["returnUrl"], reallyBeginScope: Content.Current.Page == null))
{
	var startPage = Content.Parse(Request["returnUrl"]) ?? Content.Traverse.StartPage;
<ul id="menu" class="topmenu menu clearfix level1">
	<li class="home">
		<a href="@startPage.Url" title="@startPage.Title"><img src="@Url.ThemedContent("~/Content/home.png")" alt="@startPage.Title" /></a>
	</li>
	@Html.Tree(startPage, parallelRoot: false, takeLevels: 3, appendCreatorNode: true).ExcludeRoot(true)
</ul>
}
<script type='text/javascript'>//<![CDATA[
	$("#menu").menudown({ submenuclass: "submenu menu clearfix level2" });
//]]></script>
