<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="@Content.Current.LanguageCode" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="@Content.Current.LanguageCode" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="@Content.Current.LanguageCode" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="@Content.Current.LanguageCode" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="@Content.Current.LanguageCode" class="no-js"> <!--<![endif]-->
<head>
@{ Html.RenderPartial("LayoutPartials/Head"); }
@{ Html.Resources().StyleSheet(N2.Resources.Register.TwitterBootstrapCssPath); }
@{ Html.Resources().JQuery(); }
@{ Html.Resources().JavaScript(N2.Resources.Register.TwitterBootstrapJsPath); }
@{ Html.Resources().JavaScript(Url.ThemedContent("~/Scripts/site.js")); }
@{
	Content.PrependDefinition(re =>
	{
		re.Tab("Content", "Content");
		re.PublishedRange().Container("Metadata");
	});
	}
@RenderSection("head", required: false)
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
	@{ Html.ControlPanel().Render(); }

	@{ Html.RenderPartial("LayoutPartials/Navbar"); }

	<div class="container">
	
	@*<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">
	<h1>Scaffolding</h1>
	<p class="lead">Bootstrap is built on a responsive 12-column grid. We've also included fixed- and fluid-width layouts based on that system.</p>
	<div class="subnav">
		<ul class="nav nav-pills">
		<li><a href="#global">Global styles</a></li>
		<li><a href="#gridSystem">Grid system</a></li>
		<li><a href="#fluidGridSystem">Fluid grid system</a></li>
		<li><a href="#gridCustomization">Customizing</a></li>
		<li><a href="#layouts">Layouts</a></li>
		<li><a href="#responsive">Responsive design</a></li>
		</ul>
	</div>
	</header>*@

	@RenderSection("main", required: false)
	@RenderBody()

	</div>

@*	<div id="wrapper" class="clearfix">
	@if (IsSectionDefined("page"))
 { <div>@RenderSection("page")</div> }
 else
 {
		<div id="top" class="clearfix">@{ Html.RenderPartial("LayoutPartials/Top"); }</div>
		<div id="header" class="clearfix">@{ Html.RenderPartial("LayoutPartials/Header"); }</div>
		<div id="page row">
			@if (IsSectionDefined("main"))
   { <div>@RenderSection("main")</div> }
   else
   {
			<div id="main" class="clearfix">
				@{ Html.RenderPartial("LayoutPartials/PreContent"); }
				<div id="aside" role="complementary">@if (IsSectionDefined("Aside"))
										 { <div>@RenderSection("Aside")</div> }
										 else { Html.DroppableZone("Aside").Render(); }</div>
				<div id="content" role="main">@RenderBody()</div>
				@{ Html.RenderPartial("LayoutPartials/PostContent"); }
			</div>
   }
		</div>
		<div id="footer" class="clearfix">@{ Html.RenderPartial("LayoutPartials/Footer"); }</div>
 }
	</div>
	@{ Html.Zone("Scripts").Render(); }
</body>
*@
</html>
